
@font-face {
	/*font-family: 'Montserrat';
	src: url('./fonts/montserrat-regular.woff') format('woff') ;*/
	font-family: 'Oswald';
	src: url('./fonts/oswald-mediumitalic-webfont.woff') format('woff') ;
	src: url('./fonts/oswald-mediumitalic-webfont.svg') format('svg') ;
	src: url('./fonts/oswald-mediumitalic-webfont.eot') format('eot') ;
	src: url('./fonts/oswald-mediumitalic-webfont.ttf') format('ttf') ;


}
/*@font-face {
    font-family: 'robotoblack';
    src: url('roboto-black.eot');
    src: url('roboto-black.eot?#iefix') format('eot'),
         url('roboto-black.woff2') format('woff2'),
         url('roboto-black.woff') format('woff'),
         url('roboto-black.ttf') format('ttf'),
         url('roboto-black.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

body {
	margin: 0;
	font-family: 'Oswald', sans-serif;
}

header {
	background: grey;
	color: white;
}

header h1 {
	display:block;
	margin:0px;
    font-size:30px;
    padding-left: 10px;
}

header nav ul li {
	display: inline-block;
	list-style: none;
	margin-right: 20px;
}

header h1,
header nav {
	   vertical-align: middle;
	   display: inline-block;
}


nav ul li {
	display: inline-block;
	padding: 25px;
	transition: all 1s linear;
}

/**/
nav ul li:hover{
	opacity: 0;
 	padding-bottom: 50px;
}
/**/

nav ul li a {
	color: white;
	text-decoration:none;
}

section {
	margin:auto;
	text-align: center;
   }

 section img {
	padding:40px;
	opacity: 1;
	transition: all 1s linear;
   }

 section img:hover {
 	opacity: 0;
 	padding-bottom: 90px;
 	transform: scale(1.5, 1.5) rotate(360deg);
 	-o-transform: scale(1.5, 1.5) rotate(360deg);
 	-moz-transform: scale(1.5, 1.5) rotate(360deg);
 	-ms-transform: scale(1.5, 1.5) rotate(360deg);
 	-webkit-transform: scale(1.5, 1.5) rotate(360deg);
 }  

 section p a {
 	color: #1abc9c;
 	text-decoration: none;
 }

 h2{
 	color: red;
 	opacity: 1s;
 	transition: all 1s linear;
 }
 h2:hover{
 	opacity: 0;
 	padding-bottom: 50px;
 }

 /* Animaciones*/
 .animacion {
 	width: 92px;
 	height: 250px;
 	margin: 50px auto 0;
 	text-align: center;
 	position: relative;
 }
 .sombra {
 	background-image:url(imgs/shadow.png);
 	background-repeat: no-repeat;
 	background-position: center bottom;
 	width: 90px;
 	height: 30px;
 	opacity: 1; 	
 	position: absolute;
 	bottom:0;
 	z-index: 1;

 	/*Animando la sombra*/
 	animation: sombra 2s ease-in-out 2s infinite none;
 	-webkit-animation: sombra 2s ease-in-out 2s infinite none;
 	-o-animation: sombra 2s ease-in-out 2s infinite none;
 	-ms-animation: sombra 2s ease-in-out 2s infinite none;
 	-moz-animation: sombra 2s ease-in-out 2s infinite none;
 }

 .boton {
 	background-color: #a0cfe1;
 	border: 1px solid #90a0a5;
 	position: absolute;
 	left: 1px;
 	width: 110px;
 	height: 40px;
 	padding-bottom: 5px;
 	z-index: 2;
 	top: 0;
 	-o-border-radius: 6px;
 	-ms-border-radius: 6px;
 	-moz-border-radius: 6px;
 	-webkit-border-radius: 6px;
 	-moz-transform-origin: center bottom;

 	/*Animando el boton*/
 	animation: boton ease-in-out 2s infinite none;
 	-o-animation: boton ease-in-out 2s infinite none;
 	-ms-animation: boton ease-in-out 2s infinite none;
 	-moz-animation: boton ease-in-out 2s infinite none;
 	-webkit-animation: boton ease-in-out 2s infinite none;
 	
 }

 .boton p {
 	text-align: center;
 	padding-bottom: 2px;
 	color: #1135AA;
 	font-size: 16px;
 }

/* Keyframes del boton*/
@keyframes boton {
	0% {top: 0; animation-timing-function: ease-in;}
	50%{top: 140px; height: 85px; animation-timing-function: ease-out;}
	55%{top: 160px; height: 70px; animation-timing-function: ease-in;}
	65%{top: 110px; height: 85px; animation-timing-function: ease-out;}
	95%{top: 0px; animation-timing-function: ease-in;}
	100%{top: 0px; animation-timing-function: ease-in;}
}

@-o-keyframes boton {
	0% {top: 0; -o-animation-timing-function: ease-in;}
	50%{top: 140px; height: 85px; -o-animation-timing-function: ease-out;}
	55%{top: 160px; height: 70px; -o-animation-timing-function: ease-in;}
	65%{top: 110px; height: 85px; -o-animation-timing-function: ease-out;}
	95%{top: 0px; -o-animation-timing-function: ease-in;}
	100%{top: 0px; -o-animation-timing-function: ease-in;}
}

@-ms-keyframes boton {
	0% {top: 0; -ms-animation-timing-function: ease-in;}
	50%{top: 140px; height: 85px; -ms-animation-timing-function: ease-out;}
	55%{top: 160px; height: 70px; -ms-animation-timing-function: ease-in;}
	65%{top: 110px; height: 85px; -ms-animation-timing-function: ease-out;}
	95%{top: 0px; -ms-animation-timing-function: ease-in;}
	100%{top: 0px; -ms-animation-timing-function: ease-in;}
}

@-moz-keyframes boton {
	0% {top: 0; -moz-animation-timing-function: ease-in;}
	50%{top: 140px; height: 85px; -moz-animation-timing-function: ease-out;}
	55%{top: 160px; height: 70px; -moz-animation-timing-function: ease-in;}
	65%{top: 110px; height: 85px; -moz-animation-timing-function: ease-out;}
	95%{top: 0px; -moz-animation-timing-function: ease-in;}
	100%{top: 0px; -moz-animation-timing-function: ease-in;}
}

@-webkit-keyframes boton {
	0% {top: 0; -webkit-animation-timing-function: ease-in;}
	50%{top: 140px; height: 85px; -webkit-animation-timing-function: ease-out;}
	55%{top: 160px; height: 70px; -webkit-animation-timing-function: ease-in;}
	65%{top: 110px; height: 85px; -webkit-animation-timing-function: ease-out;}
	95%{top: 0px; -webkit-animation-timing-function: ease-in;}
	100%{top: 0px; -webkit-animation-timing-function: ease-in;}
}

/* Keyframes de la sombra*/
@keyframes sombra {
 	0%  {opacity: .55; transform:scale(1.3, 1.1);}
 	50% {opacity:   1; transform:scale(1.1);} 
 	100%{opacity: .55; transform:scale(1.3, 1.1);}
}

@-o-keyframes sombra {
 	0%  {opacity: .55; -o-transform:scale(1.3, 1.1);}
 	50% {opacity:   1; -o-transform:scale(1.1);} 
 	100%{opacity: .55; -o-transform:scale(1.3, 1.1);}
}

@-ms-keyframes sombra {
 	0%  {opacity: .55; -ms-transform:scale(1.3, 1.1);}
 	50% {opacity:   1; -ms-transform:scale(1.1);} 
 	100%{opacity: .55; -ms-transform:scale(1.3, 1.1);}
}

@-moz-keyframes sombra {
 	0%  {opacity: .55; -moz-transform:scale(1.3, 1.1);}
 	50% {opacity:   1; -moz-transform:scale(1.1);} 
 	100%{opacity: .55; -moz-transform:scale(1.3, 1.1);}
}

@-webkit-keyframes sombra {
 	0%  {opacity: .55; -webkit-transform:scale(1.3, 1.1);}
 	50% {opacity:   1; -webkit-transform:scale(1.1);} 
 	100%{opacity: .55; -webkit-transform:scale(1.3, 1.1);}
}

/*Haciendo las transformaciones*/
